body {
    background-color: rgba(7, 90, 185, 0.699);
    font-family: fantasy;
    font-size: 20px;
    color:rgb(255, 255, 255);
} 

.materia {
    color:rgb(139, 4, 4);
    text-decoration: rgb(161, 9, 9);
    padding: 10px; 
    background-color: aliceblue;
    padding: 30px;
    margin-bottom: 30px;
    width: 700px;
    text-align: center;
}
.materia a:hover{
    color:rgb(22, 1, 24);
}
.materia a{
    text-decoration:none;
    color:rgb(255, 248, 248);
}
.rodape {
    background-color:rgb(119, 10, 10);
    color:rgb(189, 4, 4);
    padding: 20px;
}
.topo {
    background-color:rgb(255, 255, 255);
    font-size: 20px;
    margin-bottom: 10px;
    padding:10px;
}
.navegacao a{
    text-decoration: none;
    color:brown;
}
.menu {
    display:flex;
    list-style: none;
    margin-left: auto;
}

.navegacao{
    display:flex;
}
li{
    margin-right: 20px;
}
.menu a:hover{
    color:rgb(22, 1, 24);
}
.titulo {
    text-align: center;
    margin-bottom: 30px;
}

.texto{
    text-align: center;   
}

.menu li{
    margin-left: 30px;
}

.botao{
    background-color: rgb(2, 64, 114);
    color: rgb(102, 132, 139);
    text-decoration: rgb(10, 85, 146);
    padding: 20px;
}

.navegacao{
    display: flex;
}

main{
    padding: 10px;
}
.materia{
    color: black;
    text-decoration: none;
    background-color: white;
    text-decoration: none;
}
.materia h1 {
    margin-bottom: 10px;
    font-size: 30px;

}